/* =============================================
=            Responsive            =
============================================= */
/* desktops - higher resolution */
@media (min-width: 1281px) {}

/* laptops, desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* tablets, ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {}

/* tablets, ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .collapse-btn {
        display: block;
    }

    .open-sidebar .ham-menu {
        position: fixed;
        top: 80px;
        right: 30px;
        z-index: 99999;
    }
}

/* low resolution tablets, mobiles (landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .collapse-btn {
        display: block;
    }

    .open-sidebar .ham-menu {
        position: fixed;
        top: 80px;
        right: 30px;
        z-index: 99999 !important;
    }
}

/* smartphones mobiles (portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    .collapse-btn {
        display: block;
    }

    .open-sidebar .ham-menu {
        position: fixed;
        top: 80px;
        right: 30px;
        z-index: 99999 !important;
    }


}

/* =====  End of Responsive  ====== */